/* Animation */
@keyframes fadeIn {
    0% {
        transform: translateY(-20px) scale(0.3);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {

        transform: translateY(-20px) scale(0.3);
        opacity: 0;
    }
}



/* userDashboard component styling */
.userDashboard-cont {
    @apply bg-[#F0F0F0] mx-5 mt-6 rounded-3xl grid grid-cols-4 relative;
}

.left-cont {
    @apply bg-white m-3 col-span-1 border rounded-2xl flex flex-col items-center;
}

.userInfo-cont {
    @apply mx-10
}

.profile-cont {
    @apply flex justify-center mt-16
}

.profile-cont img {
    @apply rounded-full h-32 w-32
}

.userInfo {
    @apply my-6 text-center;
}

.userInfo h1 {
    @apply text-2xl font-medium;
}

.points-cont {
    @apply flex justify-between shadow-md bg-[#B7E0E3] text-[#014678] px-6 p-2 rounded-full mt-8 gap-2
}

.social-cont {
    @apply flex justify-between my-5
}

.social-cont img {
    @apply bg-[#0284E2] p-[10px] rounded-full w-10 shadow-md
}

.NFTsCount-cont {
    @apply my-16
}

.NFTsCount-cont div {
    @apply flex justify-between font-medium my-5
}

.Nav-Nfts {
    @apply hover:bg-black rounded-full flex items-center visited:bg-black active:bg-black active:text-white shadow-lg hover:text-white transition-all ease-in-out duration-200 p-1 px-5 cursor-pointer
}

.Nav-Nfts.active {
    @apply bg-black text-white;
}

.Nav-Nfts>h2 {
    @apply w-36
}

.NFTsCount-cont div h1 {
    @apply text-xl text-center p-1
}

.NFT_Reward-cont {
    @apply mt-28 mb-10
}

.NFT_Reward-cont .btn {
    @apply p-2 px-10 cursor-pointer bg-black text-white text-center my-6 rounded-full shadow-lg hover:bg-gradient-to-tr hover:from-[#01ABFE] transition-all duration-500 hover:via-[#0285E3] hover:to-[#3E9EE2]
}


.right-cont {
    @apply m-3 ml-0 col-span-3
}

.right-cont>.nft-Maincont {
    @apply h-full
}




/* ImportingNFTs component styling */

/* .importNfts-mainCont {
    @apply absolute w-[55%] mt-5 bg-[#F0F0F0] top-[6.5%] left-1/2 transform -translate-x-1/2 rounded-xl;

} */

.importNfts-mainCont {
    @apply fixed inset-0 top-5 w-[50%] h-[95%] rounded-xl left-1/4 z-50 flex flex-col items-center justify-center bg-[#F0F0F0];
    animation: fadeIn 0.3s ease-in-out;
}

.importNfts-mainCont.fade-out {
    animation: fadeOut 0.3s ease-in-out;
}

.importNfts-OuterCont {
    @apply flex h-full overflow-y-scroll
}

.importNfts-InnerCont {
    @apply flex flex-wrap justify-center items-center
}

.importNfts-InnerCont>.nft-cont {
    @apply my-4 mx-5
}

.header-cont {
    @apply mt-7 mb-5 w-full flex place-self-start items-center px-16
}

.header-cont>.favIcon {
    @apply text-gray-500
}

.header-cont>div {
    @apply flex w-full justify-center px-4
}

.header-cont h1 {
    @apply text-3xl font-semibold
}

.ImportBtn {
    @apply flex justify-center mt-14 mb-10
}

.ImportBtn>button {
    @apply w-40 bg-gradient-to-r from-[#01ABFE] via-[#0285E3] to-[#3E9EE2] p-3 text-white px-6 rounded-full shadow-lg font-medium transition-all ease-in duration-500;
}

.ImportBtn>button:hover {
    background: black;
}