
/* HeroPage component styling */

.Hero-MainCont {

  @apply w-screen bg-cover h-screen
}

.Hero-innerCont {
  @apply flex justify-center items-center pt-[14%] text-white;
}

.Hero-cont {
}

.heading1 {
  position: relative;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  @apply px-32 pb-8 pt-2
}

.heading1::before {
  content: '';
  @apply absolute inset-0 bg-gradient-to-r from-[#FFFFFF] to-[#7E7E7E] opacity-65  my-2 rounded-3xl -z-10  ;
  
}

.heading1 h1 {
  @apply text-center font-bold text-8xl ;
}

.heading2::before {
  content: '';
  @apply absolute inset-0 bg-gradient-to-r from-[#FFFFFF] to-[#7E7E7E] opacity-65 my-2 rounded-3xl -z-10 ;
}

.heading2 {
  position: relative;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  @apply px-32 py-5  
}

.heading2 h1 {
  @apply text-center font-bold text-3xl ;
}

.Explore-btn{
  @apply  flex justify-center  mt-20 2xl:mt-24
}

.Explore-btn > button{

  @apply p-3 w-56 px-8 text-[23px]  rounded-xl font-medium  shadow-lg 
}








/*  RentspaceWorlds Component Styling */

.tagline-cont {
  @apply flex flex-wrap my-48;
}

.tagline-cont p {
  @apply mx-[28%] text-[29px] font-medium text-center;
}

.Heading {
  @apply text-center text-5xl font-medium;
}

.RentSpaceWorlds {
  @apply my-16 mx-10 bg-[#F0F0F0] px-12 py-8 rounded-3xl shadow-lg;
}

.worldsImg {
  @apply flex justify-between flex-wrap gap-4;
}

.worldsImg img {
  @apply max-h-[200px] 2xl:max-h-[268px] max-w-[200px] 2xl:max-w-[268px] object-contain;
}

.villasImg {
  @apply flex justify-between flex-wrap gap-4 mx-8;
}

.villasImg img {
  @apply h-[120px] 2xl:h-[150px]  w-[120px]  2xl:w-[150px] object-contain;
}

/* Custom styles for the timeline */
.timeline-cont {
  @apply flex items-center justify-between mx-20 my-4;
}

.timeline-item {
  @apply text-center;
}

.timeline-item p {
  @apply 2xl:text-xl font-semibold mb-2;
}

.timeline-circle {
  @apply w-6 2xl:w-8 h-6 2xl:h-8 rounded-full border-8 border-blue-500 mx-auto;
}

.timeline-line {
  @apply flex-grow border-t-2 border-dotted border-blue-500 mt-8;
}








/*  JourneyStart component styling */

.JourneyStart-cont{
@apply flex flex-col items-center bg-[#f2f2f2] h-screen
}

.JourneyStart-cont p{
@apply mx-[28%] text-[29px] font-medium text-center mt-28
}

.JourneyStart-cont > button{
@apply  p-4 w-[32%] px-16  text-2xl rounded-2xl font-medium text-white my-16 shadow-lg
}