
/* mySpaces component styling*/
.mySpaces-cont{
    @apply bg-gradient-to-b from-[#FFFFFF] to-[#E0E0E0]
}




/* StakeInfo component styling */

.stakeInfo-mainCont{
    @apply flex flex-col items-center pt-32 pb-20 bg-gradient-to-t from-[#E0E0E0] to-[#FFFFFF]
}
 .stakeInfo-heading{
    @apply text-[42px] font-medium
 }

 .stakeInfo-cont{
    @apply flex my-10
 }

 .stakeInfo-div1{
  
 }

.stakeInfo-div1  .inner-div1{
    clip-path: polygon(0% 0%, 85% 0%, 85% 100%,0% 100%);
     @apply bg-[#FFFFFF] rounded-t-xl text-center font-medium text-lg -mb-2 px-24 p-6 pl-10  border-t-2 border-x-2 
}
.stakeInfo-div1 .inner-div2{
    clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
    @apply bg-[#FFFFFF] text-4xl text-center font-medium rounded-b-xl pb-6 pr-10 border-x-2 border-b-2
}


.stakeInfo-div2{
   
  }
.stakeInfo-div2  .inner-div1{
    
     @apply bg-[#FFFFFF] rounded-xl rounded-t-xl text-center font-medium text-lg -mb-2 px-10 p-6 border-t-2 border-x-2
}
.stakeInfo-div2 .inner-div2{
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
    @apply bg-[#FFFFFF] text-4xl text-center font-medium rounded-b-xl pb-6 border-b-2
}

.stakeInfo-div3  .inner-div1{
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%,15% 100%);
     @apply bg-[#FFFFFF] rounded-t-xl text-center font-medium text-lg -mb-2 px-24 pr-14 p-6 border-t-2 border-r-2
}
.stakeInfo-div3 .inner-div2{
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
    @apply bg-[#FFFFFF] text-4xl text-center font-medium rounded-b-xl pb-6 pl-10 border-b-2 border-x-2
}

.stakeInfo-mainCont button{
    
    @apply p-4 px-14 bg-[#0285E3] text-2xl rounded-full font-medium  shadow-lg text-white bg-gradient-to-r from-[#00C3FD] via-[#0194FE] to-[#0284E2]
}
 






/*  StakeDasboard component Styling */

.StakeDashboard-cont{
  @apply mx-[19%] text-center  m-5 py-16
}

.StakeDashboard-cont .heading{
 @apply text-[42px] font-medium mb-14 
}

.NFTInfo-cont{
    @apply flex  justify-between border-2  rounded-3xl py-5 bg-[#FFFFFF]
}

.NFTInfo{
  @apply  relative mx-auto my-2  h-full py-5 flex 
}

.verticalLine{
    @apply h-auto  w-[1px] bg-[#8E8E8E] ml-10
}

.NFTInfo h2{
    @apply text-lg  font-medium
}

.NFTInfo p{
    @apply text-4xl  font-medium mt-6
}


.YourVillas-mainCont{
 @apply py-16
}

.YourVillas-mainCont .heading{
  @apply text-3xl font-medium
}


/* YourVillas component styling */
 .yourVillas-cont{
   @apply p-8 border bg-[#FFFFFF] rounded-3xl
 }

 .header{
    @apply flex justify-between
 }

 .header-left{
    @apply flex items-center
 }
.header-left h1{
    @apply text-2xl font-medium
}

.sortBy-cont{
    @apply border-2 border-[#0285E3] rounded-full p-2 px-4 ml-5
}
.sortBy-cont select{
   @apply text-lg  font-medium outline-none
}

 .header-right{
    @apply flex items-center text-lg text-white
 }

 .header-right button{
    @apply p-2 px-6 bg-gradient-to-r from-[#01ABFE] via-[#0285E3] to-[#3E9EE2]  rounded-full
 }
 
 .header-right button:first-child{
    @apply mr-4
 }