@tailwind base;
@tailwind components;
@tailwind utilities;



/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}



html{
    @apply relative overflow-x-hidden
}





 button {
    @apply  bg-gradient-to-r from-[#00C3FD] via-[#0194FE] to-[#0284E2] transition-all duration-1000;
 }

button:hover {
    background: black ;
    @apply transition-all ease-in-out duration-500;
 }